.button {
  background-color: #efde00;
  color: $black;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  width: 295px;
  padding: 20px 20px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  display: block;
  text-align: center;

  &:hover {
    background-color: rgba(#efde00, 0.8);
  }

  @media (max-width: 390px) {
    width: 225px;
    font-size: 16px;
    line-height: 16px;
  }
}
