.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 24px;
  background-image: url("../img/cross-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
}
