.call {
  background-color: #585855;
}

.call__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 890px;
  flex-wrap: wrap;

  @media (max-width: $viewport--md) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 390px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.call__wrapper p {
  width: 360px;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: $white;

  @media (max-width: $viewport--md) {
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 26px;
    width: 300px;
  }
}
