.photo-velosipedi-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  opacity: 1;
  visibility: visible;
  width: 700px;

  @media (max-width: $viewport--md) {
    width: 360px;
  }

  @media (max-width: 420px) {
    width: 260px;
  }
}

.photo-velosipedi-popup--hidden {
  display: none;
}

.photo-velosipedi-popup img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
