.portfolio {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;

  @media (max-width: 390px) {
    padding-bottom: 50px;
  }
}

.portfolio h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 120px;

  @media (max-width: 390px) {
    font-size: 36px;
    line-height: 38px;
  }
}

.portfolio__wrapper {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 30.33%;
  text-align: center;
  min-height: 580px;
  display: flex;
  flex-direction: column;

  @media (max-width: $viewport--lg) {
    width: 100%;
    min-height: auto;
    justify-content: center;
    align-items: center;
  }
}

.portfolio__item h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 35px;
}

.portfolio__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  margin: 0;
}

.portfolio__button {
  width: 190px;
  margin: 0 auto;
  margin-top: auto;

  @media (max-width: $viewport--lg) {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
