.process {
  background-image: url("../img/fon_kak_rabotaem.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0c7a87;
}

.process__wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.process__wrapper h2 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;

  @media (max-width: 390px) {
    font-size: 36px;
    line-height: 38px;
  }
}

.process__container {
  display: flex;
  max-width: 1060px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: baseline;
}

.process__item {
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  @media (max-width: $viewport--lg) {
    width: 47.5%;
  }

  @media (max-width: 690px) {
    width: 100%;
    margin-bottom: 50px;
  }
}

.process__number {
  width: 120px;
  height: 120px;
  background-color: #e8cc45;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.process__number span {
  font-size: 70px;
  line-height: 72px;
}

.process__item p {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-align: center;
}

.process__button {
  margin: 0 auto;
  margin-top: 20px;
}
