.team {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $viewport--lg) {
    padding-bottom: 100px;
  }

  @media (max-width: 390px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.team h2 {
  font-weight: 400;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 150px;

  @media (max-width: 390px) {
    font-size: 36px;
    line-height: 38px;
  }
}

.team__wrapper {
  max-width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team__item {
  text-align: center;

  @media (max-width: $viewport--md) {
    width: 100%;
    margin-bottom: 70px;
  }
}

.team__item p {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}

.team__item img {
  @media (max-width: 390px) {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
